extends ../layouts/common

block styles
    link(rel="stylesheet", href="/styles/products.css")


block content
  h1 Products
  .d-flex.align-items-center.mt-4
    
    - var lower_limit = (parseInt((page - 1)/3) * 3) + 1;
    - var paginationNo = lower_limit - 1;
    nav(aria-label='Page navigation example')
    ul.pagination.justify-content-end
      
      if (page > 1)
        li.page-item
          a.page-link(href=`${baseUrl ? baseUrl : '?'}`+`page=${page - 1}`, tabindex='-1') Previous
      else
        li.page-item.disabled
            a.page-link(href='#', tabindex='-1') Previous

      each i in [1, 2, 3]
        if (total > paginationNo * 8)
          - paginationNo = paginationNo + 1;
            if (page !== paginationNo)
              li.page-item
                a.page-link(href=`${baseUrl ? baseUrl : '?'}`+`page=${paginationNo}`) #{paginationNo}
            else 
              li.page-item.active
                a.page-link(href=`${baseUrl ? baseUrl : '?'}`+`page=${paginationNo}`) #{paginationNo}
                  span.sr-only (current)              

      if (page < total/8)
        li.page-item
          a.page-link(href=`${baseUrl ? baseUrl : '?'}`+`page=${page + 1}`) Next
      else
        li.page-item.disabled
          a.page-link(href='#', tabindex='-1') Next


    form.ml-auto(action="/products/search", method="GET", class="d-flex")
        input(type="text", name="q", value=keyWord, class="form-control")
        button(class="btn btn-primary ml-2") Search

  .container-custom
    .row
      each product in products 
        .product.col-md-6.col-lg-4.col-xl-3.pt-4       
          .card
            a(href='/products/' + product.id)
              .img-box
                img.avatar(src=product.image, alt='')
            .content
              h2= product.title
              p= product.description
              ul.contact
                li.item
                  a(href='')
                    i.fab.fa-facebook-f
                li.item
                  a(href='')
                    i.fab.fa-google
                li.item
                  a(href='')
                    i.fab.fa-github




